.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #eee;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Custom */
#status-buttons                 { padding-bottom: 55px; }
#status-buttons a               { color:#0D253D; display:inline-block; font-size:14px; margin-right:10px; text-align:center; text-transform: capitalize; width: 110px; font-weight: bold;}
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { background:#0D253D; color: #fff; display:block; font-size: 18px; height:50px; margin:0 auto 10px; padding-top:12px; width:50px;
    border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background: white; color: #0D253D; }

#phone{
  float: right;
  padding-bottom: 50px;
}

.phone{
  width: 100%;
  height: auto;
}

.checkbox-slider--b-flat input+span {
  color: #f5f5f5;
}

.no-top{
  margin-top: 0;
  padding-bottom: 20px;
}
.padder{
  padding-bottom: 25px;
  padding-top: 25px;
}
.btn {
  width: 150px;
  height: 40px;
  border-radius: 0;
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 11px;
  border: none;
}
.btn-primary:hover {
  background-color: 	#253B50;
}
button.btn {
  padding-top: 6px;
}
.next-page{
  background-color: #0D253D;
}
.next-page:hover{
  background-color: #253B50;
}
.last-page{
  background-color: #c30016;
}
.last-page:hover{
  background-color: #C91A2D;
}

.checkbox-slider--b-flat input:checked+span:before{
  background-color: #EF5C06;
}

/*select.form-control {
  background-color: #0D253D;
  color: white;
}
select#buttonColor {
  background-color: #c30016;
}
select#barColor{
  background-color: black;
}
select#backgroundColor {
  background-color: white;
  color: black;
}
select#bodyColor{
  background-color: black;
}*/

 Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
/*  .container {
    max-width: 730px;
  }
 */
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
