<div id="preview" class="container" ng-controller="PreviewCtrl">
  <div class="row">
      <form class="col-md-7 well">
        <h2>Confirm Design</h2>
        <div class="col-md-6">
          <div class="form-group">
            <h3>Fonts</h3>
            <label for="">Header:</label>
            <select name="" id="headerFont" class="form-control" ng-model="data.headerFont" ng-options="option.name for option in options.availableFonts">
            </select>
          </div>
          <div class="form-group">
            <label for="">Body:</label>
            <select name="" id="bodyFont" class="form-control" ng-model="data.bodyFont" ng-options="option.name for option in options.availableFonts">
              <
            </select>
          </div>
          <div class="form-group">
            <h3>Color</h3>
            <label for="">Header:</label>
            <select type="color" class="form-control" id="headerColor" ng-model="data.headerColor" ng-options="option.name for option in options.availableColors">

            </select>
          </div>
          <div class="form-group">
            <label for="">Body:</label>
            <select type="color" class="form-control" id="bodyColor" ng-model="data.bodyColor" ng-options="option.name for option in options.availableColors">

            </select>
          </div>
        </div>
      <div class="col-md-6">
        <div class="form-group">
          <h3>Styling</h3>
          <label for="">Background:</label>
          <select class="form-control" id="backgroundColor" ng-model="data.backgroundColor" ng-options="option.name for option in options.availableColors">
            <option value="">{{data.backgroundColor}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Bar Color:</label>
          <select type="color" class="form-control" id="barColor" ng-model="data.barColor" ng-options="option.name for option in options.availableColors">
            <option value="">{{data.barColor.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Button Color:</label>
          <select type="color" class="form-control" id="buttonColor" ng-model="data.buttonColor" ng-options="option.name for option in options.availableColors">
          </select>
        </div>
      </div>

        <div class="col-md-12 padder">
          <button type="submit" class="btn btn-primary next-page pull-right">Apply Changes</button>
        </div>


    </form>
    <div class="col-md-7 padder">
      <a class="btn btn-primary last-page pull-left" ng-href="#/email">Step 5</a>
      <a class="btn btn-primary next-page pull-right">Continue</a>
  </div>
    </div>
</div>
