<div id="started" class="container" ng-controller="StartedCtrl">
  <h1>Get Started</h1>
  <div class="row">
      <form class="col-md-5 well">
      <div class="form-group">
        <h3>Your App Name</h3>
        <input type="text" class="form-control" id="appName" placeholder="Name">
      </div>
      <div class="form-group">
        <h3>Link Your Shopify Store</h3>
        <input type="text" class="form-control" id="shopifyLink" placeholder="storename.myshopfiy.com">
      </div>
      <div class="form-group">
        <h3>Add Logo URL</h3>
        <input type="text" class="form-control" id="logoUrl" placeholder="http://">
      </div>
      <div class="form-group">
        <h3>Add App Icon Logo URL</h3>
        <input type="text" class="form-control" id="appLogoUrl" placeholder="http://">
      </div>

      <button type="submit" class="btn btn-primary pull-right">Step 2</button>
    </form>
    </div>
  </div>
