<div id="started" class="container" ng-controller="StartedCtrl">
  {{data}}
  <div class="row">
      <form class="col-md-5 well">
        <h2 class="no-top">Get Started</h2>
      <div class="form-group">
        <h4>Your App Name: {{data.appName}}</h4>
        <input type="text" class="form-control" id="appName" placeholder="Name" ng-model="data.appName">
      </div>
      <div class="form-group">
        <h4>Link Your Shopify Store</h4>
        <input type="text" class="form-control" id="shopifyLink" placeholder="storename.myshopfiy.com" ng-model="data.shopifyLink">
      </div>
      <div class="form-group">
        <h4>Add Logo URL</h4>
        <input type="text" class="form-control" id="logoUrl" placeholder="http://" ng-model="data.logoUrl">
      </div>
      <div class="form-group">
        <h4>Add App Icon Logo URL</h4>
        <input type="text" class="form-control" id="appLogoUrl" placeholder="http://" ng-model="data.appIconUrl">
      </div>
      <div class="padder">
        <a ng-href="#/features" class="btn btn-primary next-page pull-right">Step 2</a>
      </div>
    </form>
    </div>
  </div>
