<div id="styling" class="container" ng-controller="StylingCtrl">
  <div class="row">
    <form class="col-md-4 well">
      <h2 class="no-top">Styling</h2>
      <div class="col-md-8">
        <div class="form-group">
          <label for="">Background:</label>
          <select class="form-control" id="backgroundColor" ng-model="data.backgroundColor" ng-options="option.name for option in options.availableColors" ng-style="{'background-color' : data.backgroundColor.hex}">

          </select>
        </div>
        <div class="form-group">
          <label for="">Bar Color:</label>
          <select class="form-control" id="barColor" ng-model="data.barColor" ng-options="option.name for option in options.availableColors" ng-style="{'background-color' : data.barColor.hex}">

          </select>
        </div>
        <div class="form-group">
          <label for="">Button Color:</label>
          <select type="color" class="form-control" id="buttonColor" ng-model="data.buttonColor" ng-options="option.name for option in options.availableColors" ng-style="{'background-color' : data.buttonColor.hex}">

          </select>
        </div>
      </div>


      <div class="col-md-12 padder">
        <a class="btn btn-primary last-page pull-left" ng-href="#/typography">Step 3</a>
        <a class="btn btn-primary next-page pull-right" ng-href="#/email">Step 5</a>
    </div>
  </form>
    </div>
</div>
