<div id="styling" class="container" ng-controller="StylingCtrl">
  <div class="row">
    <form class="col-md-4 well">
      <h2 class="no-top">Styling</h2>
      <div class="col-md-8">
        <div class="form-group">
          <label for="">Background:</label>
          <input type="color" class="form-control" id="appName">
        </div>
        <div class="form-group">
          <label for="">Bar Color:</label>
          <input type="color" class="form-control" id="shopifyLink" >
        </div>
        <div class="form-group">
          <label for="">Button Color:</label>
          <input type="color" class="form-control" id="shopifyLink">
        </div>
      </div>


      <div class="col-md-12 padder">
        <a class="btn btn-primary last-page pull-left" ng-href="#/typography">Step 3</a>
        <a class="btn btn-primary next-page pull-right" ng-href="#/email">Step 5</a>
    </div>
  </form>
    </div>
</div>
