<div id="typography" class="container" ng-controller="TypographyCtrl">

  <div class="row">
      <form class="col-md-8 well">
        <h2>Typography</h2>
        <div class="col-md-5">
          <div class="form-group">
            <h3>Fonts</h3>
            <label for="">Header:</label>
            <select name="" id="">
              <option value="arial">Arial</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Body:</label>
            <select name="" id="">
              <option value=""> Arial</option>
            </select>
          </div>
        </div>
      <div class="col-md-5">
        <div class="form-group">
          <h3>Color</h3>
          <label for="">Header:</label>
          <input type="color" class="form-control" id="logoUrl" placeholder="http://">
        </div>
        <div class="form-group">
          <label for="">Body:</label>
          <input type="color" class="form-control" id="appLogoUrl" placeholder="http://">
        </div>
      </div>

        <div class="col-md-8 padder">
          <a class="btn btn-primary last-page pull-left" ng-href="#/features">Step 2</a>
          <a class="btn btn-primary next-page pull-right" ng-href="#/styling">Step 4</a>
      </div>


    </form>
    </div>
</div>
