<div id="typography" class="container" ng-controller="TypographyCtrl">
  <div class="row">
      <form name="typography" action=""class="col-md-8 well">
        <h2>Typography</h2>
        <div class="col-md-5">
          <div class="form-group">
            <h3>Fonts</h3>
            <label for="">Header:</label>
            <select name="headerColor" class="form-control" id="headerFont" ng-model="data.headerFont" ng-options="option.name for option in options.availableFonts">

            </select>
          </div>
          <div class="form-group">
            <label for="">Body:</label>
            <select name="" id="bodyFont" class="form-control" ng-model="data.bodyFont" ng-options="option.name for option in options.availableFonts">
            </select>
          </div>
        </div>
      <div class="col-md-5">
        <div class="form-group">
          <h3>Color</h3>
          <label for="">Header:</label>
          <select type="" class="form-control" id="headerColor" ng-model="data.headerColor" ng-options="option.name for option in options.availableColors">
          </select>
        </div>
        <div class="form-group">
          <label for="">Body:</label>
          <select type="color" class="form-control" id="bodyColor" ng-model="data.bodyColor" ng-options="option.name for option in options.availableColors">
          </select>
        </div>
      </div>

        <div class="col-md-8 padder">
          <a class="btn btn-primary last-page pull-left" ng-href="#/features">Step 2</a>
          <a class="btn btn-primary next-page pull-right" ng-href="#/styling">Step 4</a>
      </div>


    </form>
    </div>
</div>
